/* Title font */
@font-face {
  font-family: redMoonRising;
  src: url("../font/Red_Moon_Rising.otf");
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-family: 'Prompt', sans-serif;
  color: hsl(0, 50%, 100%);
  background: url("../img/bg_2.png");
}

.zodiac{
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 200px 0 200px 0;
}

.info{
  width: 1000px;
  height: 70vh;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  top: 50%;
  margin-top: -40vh;
}
.image{
  /* 400*505 px */
  width: 40%;
  height: 100%;
  background: red;
  margin-right: 100px;
  float: left;
}
.text{
  width: 50%;
  float: left;
  margin: auto;
  padding: auto;
  right: 0;

}
.name{
  font-family: redMoonRising;
  font-size: 64px;
  font-weight: bolder;
}
.name a{
  font-family: 'Prompt', sans-serif;
  font-size: 36px;
  font-weight: bold;
}
.day_range{
  font-size: 24px;
}
/* Parallax */
.title{
  font-family: redMoonRising;
  font-size: 120px;
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  padding: 30px;
}
.zoom{
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
  background: url("../img/bg_1.png");
  background-size: cover;
}
.zoom::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 100;
  background: linear-gradient(transparent, #000);
}
.paraleft{
  position: absolute;
  width: 100%;
}
.pararight{
  position: absolute;
  width: 100%;
  right: 0;
}
/* Parallax end here*/

/* The void */
.void{
  width: 100%;
  height: 2000px;
  position: relative;
  overflow: hidden;
  background: #fff;
}
/* The void end here */

/* mouse scrolling animation */
.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%
}
.icon-scroll {
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 25px
}
@media (max-width: 767px) {
    .icon-scroll {
        position: relative
    }
}
.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}
/* mouse scrolling animation end here */

hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}